
#pdflatex files
**/*.tex
!Documents/**/Tex/**/*.tex
**/*.pdf
!Documents/**/Pics/**/*.pdf
**/*.aux
**/*.toc
**/*.lof
**/*.lot
**/*.out

#astah file
Documents/SpecificaTecnica/Classi/*.xml

#other files
**/*.bak
**/*.log
**/*~

#hidden files
**/.*
