<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.kaizenteam.app" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name=".view.BarChartActivity"
            android:label="@string/title_activity_bar_chart" >
        </activity>
        <activity
            android:name=".view.MapChartActivity"
            android:label="@string/title_activity_map_chart" >
        </activity>
        <activity
            android:name=".view.TableActivity"
            android:label="@string/title_activity_table" >
        </activity>
        <activity
            android:name=".view.LineChartActivity"
            android:label="@string/title_activity_line_chart" >
        </activity>
    </application>

</manifest>
